{% extends "_template.html" %}
{% block title %}About Us{% endblock %}
{% block navbar %}
     <ul class="nav nav-pills">
        <li class="nav-item"><a href="index.html" class="nav-link" aria-current="page">Home</a></li>
        <li class="nav-item"><a href="about-us.html" class="nav-link active">About Us</a></li>
        <li class="nav-item disabled "><a href="contact-us.html" class="nav-link">Contact Us</a></li>
        <li class="nav-item disabled "><a href="donate.html" class="nav-link">Donate</a></li>
        <li class="nav-item"><a href="updates.html" class="nav-link">Updates</a></li>
      </ul>
    
{% endblock %}

{% block content %}
<div>
  <h1 class="display-5" style="text-align: center;">Meet our Team</h1>
  <div>
    <div class="row">
      <div class="col">
        <div class="card container person" style="width: 25rem;">
            <img src="james.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">James Kim</h5>
              <h6 class="card-subtitle mb-2 text-muted">Cofounder and Chairman</h6>
              <p class="card-text">James Kim is a sophomore at Woodson High School, and he is proud to chair T-Minus 24 Hours.
                He hopes that the organization will teach others in his community about under-researched conditions and inspire them to change the world for the better.
                In his free time, James enjoys playing soccer with his friends, playing the violin, and watching movies with his family.</p>
            </div>
          </div>
        </div>
      <div class="col">
        <div class="card container person" style="width: 25rem;">
            <img src="athmik-a.jpg" class="card-img-top" alt="..." id="athmik-picture">
            <div class="card-body">
              <h5 class="card-title">Athmik Jeyasekar</h5>
              <h6 class="card-subtitle mb-2 text-muted">Cofounder and Secretary</h6>
              <p class="card-text">Athmik Jeyasekar is a sophomore at Marshall High School. He cofounded this organization along with his peers.
                He enjoys reading and hopes that this organization will inspire change.</p>
            </div>
          </div>
        </div>
        
      <div class="col">
        <div class="card container person" style="width: 25rem;">
            <img src="liann.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Liann Moreschi</h5>
              <h6 class="card-subtitle mb-2 text-muted">Cofounder and Treasurer</h6>
              <p class="card-text">Liann Moreschi is a sophomore at Langley High School.
                She is a cofounder and treasurer of this organization.
                One of the things she finds special about this organization is the ability to bring peers together to expand their understanding of different disorders and world issues.
              </p>
            </div>
          </div>
        </div>
       <br> 
      <div class="col">
        <div class="card container person" style="width: 25rem; padding-right: 0px">
            <img src="pradhyum.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Pradhyum Rajasekar</h5>
              <h6 class="card-subtitle mb-2 text-muted">Director of Web Development and Marshall HS School Representative</h6>
              <p class="card-text">Pradhyum Rajasekar is a sophomore at Marshall High School. He is the primary web developer of the organization and hopes that this organization will inspire
                others to create new approaches and technologies to solve real-world problems. In his free time, Pradhyum enjoys coding, doing math, and playing the piano.
              </p>
            </div>
          </div>
        </div>
    </div>
  </div>
  </div>
</div>
{% endblock %}