{% extends "_template.html" %}
{% block title %}About Us{% endblock %}
{% block navbar %}
     <ul class="nav nav-pills">
        <li class="nav-item"><a href="index.html" class="nav-link" aria-current="page">Home</a></li>
        <li class="nav-item"><a href="about-us.html" class="nav-link active">About Us</a></li>
        <li class="nav-item"><a href="https://secure.givelively.org/donate/hackplus/t-minus-24-hours" class="nav-link" target="_blank">Donate</a></li>
        <li class="nav-item"><a href="events.html" class="nav-link">Events</a></li>
        <li class="nav-item"><a href="join-our-team.html" class="nav-link">Join Our Team</a></li>
      </ul>
    
{% endblock %}

{% block content %}
<div class="container">
  <h1 class="display-5 text-center">Our Mission</h1>
  <p style="font-size: 18px">The mission of T-Minus 24 Hours is to spread awareness about diseases and disabilities to
    other youth within the community. The organization aims not only to educate youth, but to inspire them to make a
    difference and to provide them with the tools and skills they need to make a difference in the world.</p>
  <h1 class="display-5 text-center">Our Story</h1>
  <p style="font-size: 18px">T-Minus 24 Hours was started in early February of 2022 by co-founders Athmik Jeyasekar, James
    Kim, and Liann Moreschi. 9th graders at the time, they wanted to raise awareness for issues within their community in
    a fun and engaging way. Enlisting the help of their peers from various schools throughout Northern Virginia, they grew
    the nonprofit organization into what it is now. Today, T-Minus 24 Hours works to inspire and educate middle and high
    school students through competition based events that help to cultivate creative and critical reasoning and
    communication skills.</p>
  <center>
    <figure class="figure mx-auto">
      <img src="founders.jpg" class="figure-img img-fluid rounded" alt="..." style="max-height: 400px">
      <figcaption class="figure-caption text-center">Dec 17, 2021</figcaption>
    </figure>
  </center>
</div>
<div class="container">
  <h1 class="display-5 text-center">Meet Our Team</h1>
  <div>
    <div class="row row-cols-1 row-cols-md-4 g-4">
      <div class="col">
        <div class="card h-100">
          <img src="james.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">James Kim</h5>
            <h6 class="card-subtitle mb-2 text-muted">Cofounder and President</h6>
            <p class="card-text">
              James Kim is a senior at Woodson High School, and he is proud to lead T-Minus 24 Hours. He hopes that the organization will teach others in his community about under-researched conditions and inspire them to change the world for the better. In his free time, James enjoys playing soccer with his friends, playing the violin, and watching movies with his family.
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="will.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Will Schroen</h5>
            <h6 class="card-subtitle mb-2 text-muted">Vice President</h6>
            <p class="card-text">
              Passionate about helping his community, senior Will Schroen hopes to make a difference by highlighting certain conditions that don't receive enough attention. In his free time, he likes to play baseball and badminton, read, and hang out with friends.
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="liann.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Liann Moreschi</h5>
            <h6 class="card-subtitle mb-2 text-muted">Cofounder and Treasurer</h6>
            <p class="card-text">
              Liann Moreschi is a senior at Langley High School. She is a cofounder and treasurer of this organization. One of the things she finds special about this organization is the ability to bring peers together to expand their understanding of different disorders and world issues.
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="nick.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Nick Tong</h5>
            <h6 class="card-subtitle mb-2 text-muted">Secretary</h6>
            <p class="card-text">
              Nick Tong is in the class of 2025 at Woodson High School. He is jubilant to be the director of media at T-Minus 24 hours. He hopes for this organization to spark creativity and interest for under-researched conditions. In his free time, Nick enjoys playing the drums, tennis, volleyball, wrestling, and hitting the gym.
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="pradhyum.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Pradhyum Rajasekar</h5>
            <h6 class="card-subtitle mb-2 text-muted">Director of Web Development and Marshall HS School Representative
            </h6>
            <p class="card-text">
              Pradhyum Rajasekar is a senior at Marshall High School. He is the primary web developer of the organization and hopes that this organization will inspire others to create new approaches and technologies to solve real-world problems. In his free time, Pradhyum enjoys coding, doing math, and playing the piano.
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="ryan.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Ryan Chong</h5>
            <h6 class="card-subtitle mb-2 text-muted">Woodson HS School Representative</h6>
            <p class="card-text">
              Ryan Chong is a senior at Woodson high school. He is the school representative and hopes that T-Minus 24 hours can raise the awareness of under-studied diseases or medical conditions. His hobbies are playing tennis, making boba, and spending time with his friends.
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="Indra.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Indra Ranjan</h5>
            <h6 class="card-subtitle mb-2 text-muted">Member</h6>
            <p class="card-text">
              Indra Ranjan is a senior at Woodson Highschool, and she is a member of the Finance and Outreach and Advertising teams for T-Minus 24 Hours. She is excited to see what the T-Minus team can accomplish in spreading awareness for medical conditions. In her free time, she enjoys watching k-dramas, playing tennis, and learning how to play the drums.
            </p>
          </div>
        </div>
      </div>
      
      <div class="col">
        <div class="card h-100">
          <img src="katherine.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Katherine Ku</h5>
            <h6 class="card-subtitle mb-2 text-muted">Member</h6>
            <p class="card-text">
              Katherine Ku is a senior at Langley High School. She is a member of the Finance team and hopes this organization will be able to help others learn about different disorders. In her free time, Katherine enjoys watching movies and hanging out with her friends.
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="kennen.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Kennen Nelson-Pennebaker</h5>
            <h6 class="card-subtitle mb-2 text-muted">Director of Outreach and Advertising</h6>
            <p class="card-text">
              Kennen Nelson-Pennebaker is a senior at Woodson High School. He is the Director of Outreach and hopes that the organization will help raise awareness for conditions that do not receive enough attention. In his free time, Kennen enjoys playing volleyball, badminton, and tennis with his friends.
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="shaheer.png" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Shaheer Khan</h5>
            <h6 class="card-subtitle mb-2 text-muted">Director of Finance</h6>
            <p class="card-text">
              Shaheer Khan is a junior at Woodson High School. He works as the Director of Finance. He wants to bring awareness and help people realize the importance of raising awareness for medical conditions. He enjoys playing volleyball and competing in Science Olympiad.
            </p>
          </div>
        </div>
      </div>
     <div class="col">
        <div class="card h-100">
          <img src="lemuel.png" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Lemuel Kuo</h5>
            <h6 class="card-subtitle mb-2 text-muted">Member</h6>
            <p class="card-text">
              Lemuel Kuo is a senior at Woodson High School. He is part of the Outreach/Advertising team in T-Minus 24 Hours. He hopes that T-Minus 24 Hours can help de-stigmatize various medical conditions and help more people understand the challenges that people living with these conditions face. He enjoys drawing and watching TV shows in his free time.
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="sophia.png" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Sophia Know</h5>
            <h6 class="card-subtitle mb-2 text-muted">Member</h6>
            <p class="card-text">
              Sophia Know is a senior at Woodson High School. She is a member in the finance department and wants to help spread awareness to others about under-researched diseases and conditions. In her free time, Sophia enjoys sharing laughter with friends, going out, gaming, baking, and listening to music.
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="jooeun.png" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Jooeun Heo</h5>
            <h6 class="card-subtitle mb-2 text-muted">Member</h6>
            <p class="card-text">
              Jooeun Heo is senior that goes to Woodson High School. She hopes to spread more awareness to well known and not well known diseases and disabilities that exist. Through this, she hopes people become more welcoming and caring regarding this matter. She enjoys sleeping and eating.
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="geoffrey.webp" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Geoffrey Yuan</h5>
            <h6 class="card-subtitle mb-2 text-muted">Member</h6>
            <p class="card-text">
              Geoffrey Yuan is a senior at Langley High School. He is part of the Outreach/Advertising team in T-Minus 24. He is also the Langley school representative and hopes to assist in the pursuit of spreading awareness of disorder/disabilities. He dabbles in working out and eating. He also benches 290.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
