{% extends "_template.html" %}
{% block title %}Donate{% endblock %}

{% block navbar %}
    
      <ul class="nav nav-pills">
        <li class="nav-item"><a href="index.html" class="nav-link" aria-current="page">Home</a></li>
        <li class="nav-item"><a href="about-us.html" class="nav-link">About Us</a></li>
        <li class="nav-item"><a href="contact-us.html" class="nav-link">Contact Us</a></li>
        <li class="nav-item"><a href="donate.html" class="nav-link active">Donate</a></li>
        <li class="nav-item"><a href="updates.html" class="nav-link">Updates</a></li>
      </ul>
{% endblock %}

{% block content %}
  <h1 class="display-5" style="text-align: center;">Donate</h1>

    <center>Information coming soon!</center>
{% endblock %}