{% extends "_template.html" %}
{% block title %}Events{% endblock %}
{% block navbar %}
<ul class="nav nav-pills">
  <li class="nav-item"><a href="index.html" class="nav-link" aria-current="page">Home</a></li>
  <li class="nav-item"><a href="about-us.html" class="nav-link">About Us</a></li>
  <li class="nav-item"><a href="donate.html" class="nav-link">Donate</a></li>
  <li class="nav-item"><a href="events.html" class="nav-link active">Events</a></li>
  <li class="nav-item"><a href="join-our-team.html" class="nav-link">Join Our Team</a></li>
</ul>
{% endblock %}

{% block content %}
<div class="container">
  <h3>List of Events</h3>
  <p class="lead">Below, you can find a list of past and future events, as well as sign-ups for planned events.</p>
  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
          aria-expanded="true" aria-controls="collapseOne">
          Macular Degeneration (TBD 2024)
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          Our Macular Degeneration event is our next event. We encourage you to participate to test your skills at rapid
          fire engineering in the competition that is T-24 Hours: Macular Degeneration.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
          aria-expanded="false" aria-controls="collapseTwo">
          Down Syndrome (Nov 2023)
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <div class="row align-items-start">
            <div class="col">
              Our Down Syndrome event featured Sarah, a 7 year old girl with Down Syndrome aiming to fit into larger
              society. Our first event immediately attracted talanted participants, who created tools focusing on
              specific issues Sarah faced, including a smart bandage and blood flow restriction therapy. Our
              participants were not afraid of looking at out of the box solutions, and they definitely showed
              understanding of our mission!
              <div class="container-fluid pt-3">
                <h5>Placings</h5>
                <ol>
                  <li>Stephen L & Chloe L</li>
                  <li>Raahil M & Jacob G</li>
                  <li>Enrui L & Wynn S</li>
                </ol>
              </div>
            </div>
            <div class="col">
              <figure class="figure">
                <img src="neck-brace.png" class="figure-img rounded float-start img-fluid" alt="..." />
                <figcaption class="figure-caption">A 3d model of a redesigned neck brace</figcaption>
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
