{% extends "_template.html" %}
{% block title %}Events{% endblock %}
{% block navbar %}
     <ul class="nav nav-pills">
        <li class="nav-item"><a href="index.html" class="nav-link" aria-current="page">Home</a></li>
        <li class="nav-item"><a href="about-us.html" class="nav-link">About Us</a></li>
        <li class="nav-item disabled "><a href="donate.html" class="nav-link">Donate</a></li>
        <li class="nav-item"><a href="events.html" class="nav-link active">Events</a></li>
        <li class="nav-item"><a href="join-our-team.html" class="nav-link">Join Our Team</a></li>
      </ul>
{% endblock %}

{% block content %}
<div class="container">
    <h1>Event Info</h1>
    <p>Down syndrome is a common genetic condition that is estimated to affect over 400,000 people in the US alone. Often diagnosed at or before birth, Down syndrome is a lifelong condition that can affect appearance, physical and intellectual development, and susceptibility to other health conditions. In this competition, students will be presented with a scenario about someone living with Down syndrome. They will have 24 hours to research and come up with a creative, feasible solution to aid the person in their daily life. At the end of the 24 hours, the students will present their solution to a panel of judges for the chance to win up to $100.</p>
    <ul>
    <li> Teams of 1 through 4 will be given a scenario about someone living with Down Syndrome</li>
   <li>They will have 24 hours to research possible treatment plans, technologies, and/or services that could help the individual</li>
    <li>At the end of the 24 hours, teams will present their solution in a Google Meet call (any format is fine, though our recommendation is a slideshow presentation); they should be prepared to answer follow-up questions about their solution</li>
        <li>Winners will be announced the day after presentations are given, and prize money will be given in the form of Amazon gift cards</li>
   </ul>

Schedule: <a href="https://docs.google.com/document/d/17Ksat7lUOwSJBLqBz2_eHTv7TSW9gbmweNN1XhizI6U/edit?usp=sharing" target="_blank">https://docs.google.com/document/d/17Ksat7lUOwSJBLqBz2_eHTv7TSW9gbmweNN1XhizI6U/edit?usp=sharing</a>
</div>

<center>
<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdcsOrdjp3IPLTDNwaHMm6TmXmwKHiRyGb4ApcjXjFC6eQOvQ/viewform?embedded=true" width="100%" height="1547" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
</center>
{% endblock %}