{% extends "_template.html" %}
{% block title %}Home{% endblock %}
{% block navbar %}
    <div class="container">
    <header class="d-flex justify-content-center py-3">
      <ul class="nav nav-pills">
        <li class="nav-item"><a href="index.html" class="nav-link active" aria-current="page">Home</a></li>
        <li class="nav-item"><a href="about-us.html" class="nav-link">About Us</a></li>
        <li class="nav-item"><a href="contact-us.html" class="nav-link">Contact Us</a></li>
        <li class="nav-item"><a href="donate.html" class="nav-link">Donate</a></li>
        <li class="nav-item"><a href="updates.html" class="nav-link">Updates</a></li>
      </ul>
    </header>
  </div>
{% endblock %}

{% block content %}
    <div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="weblogo.png" alt="" width="130" height="130">
    <h1 class="display-5 fw-bold">Grow Fairfax</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">
	  We want to instill an interest for nature and horticulture in the community through education and hands-on experiences by
	  visiting local elementary schools and helping educate students about the importance of plants and the environment, as well as guide them in growing their own produce at school.
	  </p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a href="about-us.html"><button type="button" class="btn btn-primary btn-lg px-4 gap-3">Meet Us</button></a>
        <a href="donate.html"><button type="button" class="btn btn-outline-secondary btn-lg px-4">Donate</button></a>
      </div>
    </div>
  </div>
{% endblock %}