{% extends "_template.html" %}
{% block title %}Home{% endblock %}
{% block navbar %}
      <ul class="nav nav-pills">
        <li class="nav-item"><a href="index.html" class="nav-link active" aria-current="page">Home</a></li>
        <li class="nav-item"><a href="about-us.html" class="nav-link">About Us</a></li>
        <li class="nav-item disabled "><a href="donate.html" class="nav-link">Donate</a></li>
        <li class="nav-item"><a href="events.html" class="nav-link">Events</a></li>
        <li class="nav-item"><a href="join-our-team.html" class="nav-link">Join Our Team</a></li>
      </ul>
{% endblock %}

{% block content %}
    <div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="weblogo.png" alt="" width="130" height="130">
    <h1 class="display-5 fw-bold">T-Minus 24 Hours</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">
        T-Minus 24 Hours is a student-run non-profit group created to raise awareness for diseases and disorders that are often under researched and overlooked.
        Our organization aims to engage young minds through innovative problem solving and exploration.
	    </p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a href="about-us.html"><button type="button" class="btn btn-primary btn-lg px-4 gap-3">More About Us</button></a>
        <!-- <a href="donate.html"><button type="button" class="btn btn-outline-secondary btn-lg px-4">Donate</button></a> -->
      </div>
    </div>
  </div>
{% endblock %}
