{% extends "_template.html" %}
{% block title %}Join Our Team{% endblock %}
{% block navbar %}
     <ul class="nav nav-pills">
        <li class="nav-item"><a href="index.html" class="nav-link" aria-current="page">Home</a></li>
        <li class="nav-item"><a href="about-us.html" class="nav-link">About Us</a></li>
        <li class="nav-item disabled "><a href="donate.html" class="nav-link">Donate</a></li>
        <li class="nav-item"><a href="events.html" class="nav-link">Events</a></li>
        <li class="nav-item"><a href="join-our-team.html" class="nav-link active">Join Our Team</a></li>
      </ul>
{% endblock %}

{% block content %}

<div class="container">
    <h1>Join Our Team</h1>
    <p>Our team works to finance, advertise, and run T-Minus 24 Hours events to promote our mission and vision throughout our community, and we would love to have you on board! Anyone 13 years of age or older is eligible to apply. There is a one-time $20 due required in order to become an official member, but you are welcome to join first and then decide if you would like to stay as a member.</p>
</div>

<center>
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdoxFG1G_8-axNxRA-x7iSjpXalOAbQK1IkAMWdKqGH3AQGvQ/viewform?embedded=true" width="100%" height="965" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
</center>
{% endblock %}